## Default owners (going to be removed at later stage)
@wtrocki

## module owners
modules/core       @wtrocki
modules/metrics    @wtrocki

## Docs and examples
docs               @wtrocki
example            @wtrocki
