version: 2
jobs:
  build:
    macos:
      xcode: "9.3.0"
    shell: /bin/bash --login -eo pipefail
    steps:
      - checkout
      - run:
          name: Install lint
          command: brew install swiftlint

      - run:
          name: Check style using swiftlint
          command: swiftlint

      - run:
          name: Set Ruby Version
          command:  echo "ruby-2.4" > ~/.ruby-version

      # Install CocoaPods
      - run:
          name: Install CocoaPods
          working_directory: ./example
          command: |
            curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf
            pod install

      - restore_cache:
          keys:
          - v1-gems-{{ checksum "Gemfile.lock" }}

      # Install gems.
      - run:
          name: Bundle install
          command: bundle install
          environment:
            BUNDLE_JOBS: 4
            BUNDLE_RETRY: 3
            # This is the path where all the gems will be installed, and
            # which CircleCI will later cache.
            BUNDLE_PATH: vendor/bundle
      - save_cache:
          key: v1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      # Build the app and run tests
      - run:
          name: Build and run tests
          working_directory: ./example
          command: fastlane scan
          environment:
            SCAN_DEVICE: iPhone 7
            SCAN_SCHEME: AeroGearSdkExample

      # Collect XML test results data to show in the UI,
      # and save the same XML files under test-results folder
      # in the Artifacts tab
      - store_test_results:
          path: ./example/test_output/report.xml
      - store_artifacts:
          path: /tmp/test-results
          destination: scan-test-results
      - store_artifacts:
          path: ~/Library/Logs/scan
          destination: scan-logs

  release_cocoapods:
    macos:
      xcode: "9.3.0"
    shell: /bin/bash --login -eo pipefail
    steps:
      - checkout
      - run:
          name: Install lint
          command: brew install swiftlint

      - run:
          name: Check style using swiftlint
          command: swiftlint

      - run:
          name: Set Ruby Version
          command:  echo "ruby-2.4" > ~/.ruby-version
      
      # Install CocoaPods
      - run:
          name: Install CocoaPods
          working_directory: ./example
          command: |
            curl https://cocoapods-specs.circleci.com/fetch-cocoapods-repo-from-s3.sh | bash -s cf

      # Install gems.
      - run:
          name: Bundle install
          command: bundle install
          environment:
            BUNDLE_JOBS: 4
            BUNDLE_RETRY: 3
            # This is the path where all the gems will be installed, and
            # which CircleCI will later cache.
            BUNDLE_PATH: vendor/bundle
      - save_cache:
          key: v1-gems-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Validate Release
          command: TAG=$CIRCLE_TAG ./scripts/validate-release.sh

      - run:
          name: Release Core Module
          command: ./scripts/release-core.sh

      - run:
          name: Release Core Module
          command: ./scripts/release-modules.sh

workflows:
  version: 2
  build_and_release:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - release_cocoapods:
          requires:
            - build
          filters:
            tags:
              only: /\d\.\d\.\d/
            branches:
              ignore: /.*/